<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de empleados</h1>
    <a th:href="@{/empleados/create}" class="btn btn-outline-primary">Nuevo empleado</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Salario</th>
            <th>Horario</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${empleados}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.apellido}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.telefono}"></td>
            <td th:text="${item.salario}"></td>
            <td th:text="${item.horario}"></td>
            <td>
                <a th:href="@{/empleados/details/{id} (id=${item.id})}" class="btn btn-outline-success">Ver</a>
                <a th:href="@{/empleados/edit/{id} (id=${item.id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/empleados/remove/{id} (id=${item.id})}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav class="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber: ${pageNumbers}">
                <a class="page-link" th:href="@{|/empleados?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
</html>
