<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HotelManager</title>

    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/dist/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/dist/assets/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/dist/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/dist/assets/vendors/font-awesome/css/font-awesome.min.css}">
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/dist/assets/vendors/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css}">
    <!-- End plugin css for this page -->

    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/dist/assets/css/style.css}">
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/dist/assets/css/style.css}">
    <!-- End layout styles -->

    <link rel="shortcut icon" th:href="@{/dist/assets/images/favicon.png}" />

    <!-- SweetAlert2 -->
    <script th:src="@{/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
</head>
<body>
<div class="container-scroller">
    <div class="row p-0 m-0 proBanner" id="proBanner">
        <div class="col-md-12 p-0 m-0">
            <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
                <div class="ps-lg-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-0 font-weight-medium me-3 buy-now-text">Bienvenido!</p>
                        <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/" target="_blank" class="btn me-2 buy-now-btn border-0"></a>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i class="mdi mdi-home me-3 text-white"></i></a>
                    <button id="bannerClose" class="btn border-0 p-0">
                        <i class="mdi mdi-close text-white mr-0"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">

            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/dist/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <div class="search-field d-none d-md-block">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-heart"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="¡Bienvenido!">
                    </div>
                </form>
            </div>

            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="/dist/assets/images/faces/Logo.png" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">Opciones</p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">

                        <div class="dropdown-divider"></div>
                        <a  th:href="@{/logout}" class="dropdown-item" href="#">
                            <i class="mdi mdi-logout me-2 text-primary"></i> Cerrar sesion </a>
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="/dist/assets/images/faces/Logo.png" alt="profile" />
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column">
                            <span class="font-weight-bold mb-2">HotelManager</span>
                            <span class="text-secondary text-small">Panel de administracion</span>
                        </div>
                        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <span class="menu-title">Inicio</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Empleados</span>
                        <i class="mdi mdi-account menu-icon"></i>

                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link"  th:href="@{/empleados}">Lista de empleados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/empleados/exportarPDF}">Reporte de empleados</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                        <span class="menu-title">Puestos</span>
                        <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                    <div class="collapse" id="icons">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/puestos}">Listado de puestos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/empleadoPuesto}">Listado de puestos empleados</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#forms" aria-expanded="false" aria-controls="forms">
                        <span class="menu-title">Habitaciones</span>
                        <i class="mdi mdi-bed menu-icon"></i>
                    </a>
                    <div class="collapse" id="forms">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/habitaciones}">Lista de habitaciones</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                        <span class="menu-title">Clientes</span>
                        <i class="mdi mdi-account-group menu-icon"></i>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/clientes}">Lista de clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/clientes/exportarPDF}">Reporte de clientes</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                        <span class="menu-title">Reportes</span>
                        <i class="mdi mdi-table-large menu-icon"></i>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/empleados/exportarPDF}">Reporte de empleados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/clientes/exportarPDF}">Reporte de clientes</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                        <span class="menu-title">Reservas</span>
                        <i class="mdi mdi-clock-check menu-icon"></i>

                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/reservas}"> Lista de reservas</a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div layout:fragment="content">

            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</div>

<!-- plugins:js -->
<script th:src="@{/dist/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->

<!-- Plugin js for this page -->
<script th:src="@{/dist/assets/vendors/chart.js/chart.umd.js}"></script>
<script th:src="@{/dist/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<!-- End plugin js for this page -->

<!-- inject:js -->
<script th:src="@{/dist/assets/js/off-canvas.js}"></script>
<script th:src="@{/dist/assets/js/misc.js}"></script>
<script th:src="@{/dist/assets/js/settings.js}"></script>
<script th:src="@{/dist/assets/js/todolist.js}"></script>
<script th:src="@{/dist/assets/js/jquery.cookie.js}"></script>
<!-- endinject -->

<!-- Custom js for this page -->
<script th:src="@{/dist/assets/js/dashboard.js}"></script>
<!-- End custom js for this page -->
</body>
</html>