<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de reservas</h1>
    <a th:href="@{/reservas/create}" class="btn btn-outline-primary">Nueva reserva</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Habitación</th>
            <th>Cliente</th>
            <th>Fecha de entrada</th>
            <th>Fecha de salida</th>
            <th>Monto Total</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserva : ${reservas}">
            <td th:text="${reserva.id}"></td>
            <td th:text="${reserva.habitacion.tipoHabitacion}"></td>
            <td th:text="${reserva.cliente.nombre}"></td>
            <td th:text="${reserva.fechaEntrada}"></td>
            <td th:text="${reserva.fechaSalida}"></td>
            <td th:text="'$' + ${reserva.montoTotal}"></td>
            <td>
                <a th:href="@{/reservas/details/{id} (id=${reserva.id})}" class="btn btn-outline-success">Ver</a>
                <a th:href="@{/reservas/edit/{id} (id=${reserva.id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/reservas/remove/{id} (id=${reserva.id})}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav class="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber: ${pageNumbers}">
                <a class="page-link" th:href="@{|/reservas?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
</html>
