<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1 class="text-center">Listado de habitaciones</h1>
    <div class="text-center mb-4">
        <a th:href="@{/habitaciones/create}" class="btn btn-primary">Nueva habitación</a>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4" th:each="item : ${habitaciones}">
            <div class="card mb-4 shadow-sm">
                <img th:src="@{'/uploads/imagenes/' + ${item.imagenUrl}}" alt="Imagen de la habitación" class="card-img-top" style="height: 200px; object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title" th:text="${item.tipoHabitacion}">Tipo de Habitación</h5>
                    <p class="card-text" th:text="${item.descripcion}">Descripción de la habitación</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Capacidad:</strong> <span th:text="${item.capacidad}"></span> personas</li>
                        <li class="list-group-item"><strong>Precio por Hora:</strong> $<span th:text="${item.precioPorHora}"></span></li>
                        <li class="list-group-item"><strong>Estado:</strong> <span th:text="${item.estado == 0 ? 'Disponible' : 'Ocupado'}"></span></li>
                    </ul>
                    <div class="d-flex justify-content-center mt-3">
                        <a th:href="@{/habitaciones/details/{id} (id=${item.id})}" class="btn btn-secondary btn-sm mx-2">Detalles</a>
                        <a th:href="@{/habitaciones/edit/{id} (id=${item.id})}" class="btn btn-info btn-sm mx-2">Editar</a>
                        <a th:href="@{/habitaciones/remove/{id} (id=${item.id})}" class="btn btn-danger btn-sm mx-2">Eliminar</a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    </br>
    </br>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber: ${pageNumbers}">
                <div class="btn-group" role="group" aria-label="Pagination">
                    <a class="btn btn-primary me-2" th:href="@{|/habitaciones?page=${pageNumber}|}" th:text="${pageNumber}"></a>
                </div>
            </li>
        </ul>
    </div>
</div>
</html>
